.result {
  height: 60px;
  background-color: rgb(154, 205, 228);
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calci {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  /* background-color: rgb(165, 189, 60); */
}

button {
  width: 25%;
  height: 70px;
  font-size: 30px;
  background-color: rgb(93, 214, 236);
  /* border-radius: 30px; */
  /* margin: 1px; */
  border: 1px solid  rgb(53, 207, 235) ;
}
h1{
  color: black;
  text-align: center;
}
button:hover{
  background-color: rgb(157, 233, 246);

}
div.button{
  border-radius: 10px;
}

*:focus {
  outline: 0 !important;
}
